h1{
   /* font-family: 'Bungee', sans-serif;*/
   font-family: 'Titan One', sans-serif;
   font-size: 45px;
   text-align: center;
   margin-bottom: 0%;
   color: white;
}

h2{
    font-family: 'Itim', cursive;
    text-align: center;
    margin-top: 0%;
    color: white;
}

.headline{
    padding-top: 50px;
    float: left;
}


.text-box {
    display: flex;
    flex-direction: column; /* Align items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    text-align: center;
    background-color: #EEEEEE;
    height: 120px;
    margin-left: 50px;
    margin-right: 50px;
    width: 450px;
    border: 1px solid;
    box-shadow: 5px 5px 10px;
}
    
input{
    width: 300px;
    height: 20px;
    margin-bottom: 15px;
    text-align: center;
    font-family: 'Itim', cursive;
    background-color: white;

}

#background-box{
    color: white;
    width: 100%;
    height: 50%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;  /*occupies the whole screen*/
    margin: 0;
    font-family: 'Bungee', sans-serif;
    background: linear-gradient(to bottom, #27374D 70%, #EEF0E5 25%); /* Use a gradient for the split effect */
}

footer{
    color: black;
    font-family: 'Itim', cursive;
    position: absolute;
    bottom: 10px;    
    left: 85%;
}