<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Shadows+Into+Light&family=Titan+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
    <script src="sweetalert2/dist/sweetalert2.min.js"></script>
     <!-- Include SweetAlert2 CSS -->
     <link rel="stylesheet" href="{{ url_for('static', filename='sweetalert2.min.css') }}">

     <!-- Include SweetAlert2 JS -->
     <script src="{{ url_for('static', filename='sweetalert2.all.min.js') }}"></script>
    
    <title>PhishCheck Pro</title>
</head>

<body>
    <div class="headline">
        <h1>PhishCheck Pro</h1>  
        <h2>Your Ultimate Defense Against Phishing Threats</h2>
    </div>
    <!--<form> element is used to create an HTML form that allows users to input data -->
    <form action="/check_phishing" method="post" class="text-box">
        <input type="text" placeholder="Enter URL" name="url" required> 
       <button onclick="myFunction()">Check Now!</button>
    </form>

    <p id="result"></p>
    <div id= "result-container" style="display: none;">
        <div id = "result-content"></div>
    </div> 

    <footer>© Noy Robinson & Ofir Binshtok</footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
   
   <script>
    function myFunction() {
    document.querySelector('form').addEventListener('submit', async function(event){
    event.preventDefault();
    
         // Display loading spinner before making the fetch request
        Swal.fire({
        title: 'Loading...',
        allowOutsideClick: false,
        background: '#404040', // Light gray background
        onBeforeOpen: async () => {
            Swal.showLoading();
        }
        });

    const url = document.querySelector('input[name="url"]').value;
    const response = await fetch('/check_phishing', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body:`url=${encodeURIComponent(url)}`,
    });
    Swal.close();

    const data = await response.json();
    const positives_count = data['positive detections for the scanned URL'];
    if(positives_count == -1){
        Swal.fire({ title: "Error!",
        text: "invalid URL, try again",
        icon: "error"
        });
        document.querySelector('input[name="url"]').value = '';
    }
    else if(positives_count == -2){
        Swal.fire({ title: "Error!",
        text: "HTTP error",
        icon: "error"
        });
        document.querySelector('input[name="url"]').value = '';
    }
    
    else if(positives_count == 1){
        Swal.fire({ title: "mallicious!",
        text: "do not use this URL!",
        icon: "warning"
        });
        document.querySelector('input[name="url"]').value = '';
   }
    else {
        Swal.fire({ title: "safe!",
        text: "you can browse safley!",
        icon: "success"
        });
        document.querySelector('input[name="url"]').value = '';
    } 
    });
    
    }
    </script>
</body>
</html>